$def with(datos)
<h1>Acerca de </h1>
<meta name="Description" content="Author: Carlos Jair Sanchez Rivera, 
    Licenciado: Electronica, Category:Tics">
<div class="card text-center">
    <div class="card-header">
    </div>
    <div class="card-body">
            <img src="../../static/images/imagen8.jpg" class="rounded float-left" alt="...">
            <img src="../../static/images/images3.jpg" class="rounded float-right" alt="...">
    <h5 class="card-title">Refaccionaria MULTI-REMAQ</h5>
    <p class="card-text">Empresa lider en su ramo dedicada a la venta de refacciones por internet</p>
    <p class="card-text">Correo electronico: carlos_jair50@hotmail.com</p>
    <p class="card-text">Telefono de contacto: 5513096571</p>
    <p class="card-text">Fax: 7898499874</p>
    <a href="/" class="btn btn-primary">Regresar</a>
    </div>

  