$def with(datos)
<h1>Actualizar</h1> 
<meta name="Description" content="Author: Carlos Jair Sanchez Rivera, 
    Licenciado: Electronica, Category:Tics">
<div class="card text-center">
    <div class="card-header">
    </div>
    <div class="card-body">
      <h5 class="card-title">Bienvenido administrador</h5>
      <p class="card-text">Puede actualizar la información de un producto</p>
      
    </div>

    <div class="card-header">
            <h2>LISTAS DE REFACCIONES DISPONIBLES<h2>
          </div>
          <table class="table table-striped">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">NOMBRE</th>
                  <th scope="col">PRECIO</th>
                  <th scope="col">EXISTENCIAS</th>
                  <th scope="col">UPDATE</th>
                </tr>
              </thead>
              <tbody>
                $for row in datos:
                  <tr>        
                    <td><a href="/view/$row.id">$row.id</a></td>
                    <td>$row.nombre</td>
                    <td>$row.precio</td>
                    <td>$row.existencia</td>
                    <td><a href="/update/$row.id">Update</a></td>   
                 </tr>
              </tbody>
            </table>