$def with(datos)
<meta name="Description" content="Author: Carlos Jair Sanchez Rivera, 
    Licenciado: Electronica, Category:Tics">
<div class="card text-center">
    <div class="card-header">
    </div>
    <div class="card-body">
      <h5 class="card-title">Iniciar sesion</h5>
      <img src="../../static/images/imagen9.jpg" class="rounded mx-auto d-block" alt="...">
      <input type="text" class="login-input" placeholder="Dirección de correo">
    <input type="password" class="login-input" placeholder="Contraseña"></br>
    <p class="login"><a href="/admin">Iniciar Sesión</a></p>
  <p class="login-lost"><a href="/recuperarcuenta">¿Perdiste tu Contraseña?</a></p>
    </div>


