<h1>Insert</h1>
<meta name="Description" content="Author: Carlos Jair Sanchez Rivera, 
    Licenciado: Electronica, Category:Tics">
<div class="card text-center">
    <div class="card-header">
        <h5 class="card-title">Bienvenido administrador</h5>
        <p class="card-text">Puede actualizar la información de un producto</p>
    </div>
    <div class="card-body">
      <img src="../../static/images/imagen10.jpg" width="200" height="200" class="rounded float-left" alt="...">
      <img src="../../static/images/imagen10.jpg" width="200" height="200" class="rounded float-right" alt="...">
      
      <form method="POST">
          <div class="form-group">
            <label for="id">ID</label>
            <input type="id" class="form-control-center" id="id" name="id" aria-describedby="idHelp" placeholder="Enter id">
            
          </div>
          <div class="form-group">
            <label for="nombre">NOMBRE</label>
            <input type="nombre" class="form-control-center" id="nombre" name="nombre" placeholder="Enter nombre">
          </div>
          <div class="form-group">
              <label for="precio">PRECIO</label>
              <input type="precio" class="form-control-center" id="precio" name="precio" placeholder="Enter precio">
            </div>
            <div class="form-group">
                <label for="existencia">EXISTENCIAS</label>
                <input type="existencia" class="form-control-center" id="existencia" name="existencia"  placeholder="Enter existencias">
              </div>
          <button type="submit" class="btn btn-primary">Insert</button>      
          </form>
    </div>
  </div>

