$def with(datos)
<meta name="Description" content="Author: Carlos Jair Sanchez Rivera, 
    Licenciado: Electronica, Category:Tics">
<div class="card text-center">
        <div class="card-header">
        </div>
        <div class="card-body">
          <h5 class="card-title">LOGO</h5>
          <p class="card-text">Diseñado por CREAtulpox S.A.de C.V.</p>
          <img src="../../static/images/images3.jpg" width="200" height="200" class="d-inline-block align-center"></br>

          </br></br><a href="/" class="btn btn-primary">Regresar</a>
         
        </div>
