$def with(datos)
<h1>Registrarse </h1>
<meta name="Description" content="Author: Carlos Jair Sanchez Rivera, 
    Licenciado: Electronica, Category:Tics">
<form>
    <div class="form-row">
        <div class="col-md-2=3 mb-4">
          <label for="inputNombre">Nombre</label>
          <input type="text" class="form-control" id="inputNombre">
        </div>
        <div class="col-md-3 mb-4">
        <label for="inputAPaterno">Paterno</label>
        <input type="text" class="form-control" id="inputAPaterno">
         </div>
         <div class="col-md-3 mb-4">
            <label for="inputAMaterno">Materno</label>
            <input type="text" class="form-control" id="inputAMaterno">
             </div>
      </div>

      <div class="form-row">
        <div class="col-md-3 mb-4">
          <label for="inputCalle">Calle</label>
          <input type="text" class="form-control" id="inputCalle">
        </div>
        <div class="col-md-1 mb-1">
            <label for="inputNumero">Numero</label>
            <input type="text" class="form-control" id="inputMumero">
          </div>
          <div class="col-md-3 mb-4">
              <label for="inputCol">Col.</label>
              <input type="text" class="form-control" id="inputCol">
            </div>
            <div class="col-md-3 mb-4">
                <label for="inputMuni">Municipio</label>
                <input type="text" class="form-control" id="inputMuni">
              </div>
      </div>
      <div class="form-row">
           <div class="form-group col-md-4">
            <label for="inputEstado">Estado</label>
            <select id="inputEstado" class="form-control">
              <option selected>Choose...</option>
              <option>HIDALGO</option><option>CDMX</option><option>ESTADO DE MEXICO</option><option>PUEBLA</option><option>OTRO</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="inputCP">Código Postal</label>
            <input type="text" class="form-control" id="inputCP">
          </div>
        </div>


      <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Correo</label>
        <input type="Correo" class="form-control" id="inputEmail4" placeholder="Correo">
      </div>
           <div class="form-group col-md-6">
        <label for="inputEmail14">Confirmar correo</label>
        <input type="Correo" class="form-control" id="inputEmail14" placeholder="Correo">
      </div>
      <div class="form-group col-md-6">
          <label for="inputPassword2">Contraseña</label>
          <input type="Contraseña2" class="form-control" id="Contraseña2" placeholder="Contraseña">
        </div>
    </div>
    
      <button type="submit" class="btn btn-primary">Guardar</button>
      <h1 class="text-hide" style="background-image: url('/docs/4.1/assets/brand/bootstrap-solid.svg'); width: 50px; height: 50px;">Bootstrap</h1>
  </form>