$def with(datos)
<h1>View</h1>
<meta name="Description" content="Author: Carlos Jair Sanchez Rivera, 
    Licenciado: Electronica, Category:Tics">
<div class="card text-center">
        <div class="card-header">
        </div>
        <div class="card-body">
                <h3><em>ID: </em>$datos.id</h3>
                <h3><em>NOMBRE: </em>$datos.nombre</h3>
                <h3><em>PRECIO: </em>$datos.precio</h3>
                <h3><em>EXISTENCIA: </em>$datos.existencia</h3>
        <a href="/admin" class="btn btn-primary">Regresar</a>
        </div>


